{% include "recipes/partials/head.html" %}

<body>
    {% include "recipes/partials/header.html" %}
    {% include "recipes/partials/search.html" %}

    <main class="main-content-container">
        <div class="main-content main-content-list container">
            {% for item in lista %}
            {% include "recipes/partials/recipe.html" %}
            {% endfor %}
        </div>
    </main>

</body>

<div>
    {% for i in name %}
    <h5>{{ i }}</h5>
    {% endfor %}
</div>


{% include "recipes/partials/footer.html" %}